{% load static %}

{% include "views/top.html" %}
      
      <br>

      <div class="jumbotron background_weather_sunny">
        
        <h1 class="display-4">Guten Morgen, {{ first_name }}</h1>
        <p class="lead">Dein Garten wurde heute morgen gewässert.</p>
        <p class="lead">📍 
          {% if location_town %}
          {{ location_town }}, 
          {% endif %}
          {% if location_county %}
          {{ location_county }}, 
          {% endif %}
          {{ location_state }} | 🌡 19°C | 🌥 Bewölkt</p>
        
      </div>

      <div class="container">
        
        <div class="row">
          
          <div class="col-sm">
            <div class="media">
              <img src="{% static 'webapp/img/icons/sprinkler.svg' %}" width="64" class="mr-3">
              <div class="media-body">
                <h5 class="mt-0">Alle Geräte funktionieren</h5>
                <p class="card-text">Du musst nichts weiter unternehmen.</p>
                <a href="{% url 'devices' %}" class="btn btn-success">Geräte</a>
              </div>
            </div>
          </div>
          
          <div class="col-sm">
            <div class="media">
              <img src="{% static 'webapp/img/icons/plans.svg' %}" width="64" class="mr-3">
              <div class="media-body">
                {% if water_time_year %}
                  <h5 class="mt-0">Nächste Wässerung am {{ water_time_day }}.{{ water_time_month }}.{{ water_time_year }} um {{ water_time_hour }}:{{ water_time_minute }} Uhr</h5>
                {% else %}
                <h5 class="mt-0">Keine nächste Gartenbewässerung geplant.</h5>
                {% endif %}
                <p class="card-text">Alles läuft nach Plan.</p>
                <a href="{% url 'plans' %}" class="btn btn-warning">Pläne</a>
                <a href="#" class="btn btn-danger">Pausieren</a>
                <a href="{% url 'plan_create' %}" class="btn btn-secondary">Plan hinzufügen</a>
              </div>
            </div>
          
          </div>
        </div>

        <br><br>

        <div class="row">

            <div class="col-sm">
            <div class="media">
              <img src="{% static 'webapp/img/icons/bucket.svg' %}" width="64" class="mr-3">
              <div class="media-body">
                <h5 class="mt-0">127 Liter </h5>
                <p class="card-text">Wasserverbauch der letzten 7 Tage.</p>
                <a href="{% url 'statistics' %}" class="btn btn-primary">Statistiken</a>
              </div>
            </div>
          
          </div>

          <div class="col-sm">
            <div class="media">
              <img src="{% static 'webapp/img/icons/weather.svg' %}" width="64" class="mr-3">
              <div class="media-body">
                <h5 class="mt-0">Wetter</h5>
                <p class="card-text">Die nächsten Tage wird es sonnig.</p>
                <a href="{% url 'weather' %}" class="btn btn-primary">Wetter</a>
              </div>
            </div>
          
          </div>

        </div>



      </div>

      
      

{% include "views/footer.html" %}

{% include "views/bottom.html" %}