{% load static %}

{% include "views/top.html" %}
      
<br>

<h1><img src="{% static 'webapp/img/icons/sprinkler.svg' %}" width="64" class="mr-3"> {{ headline }}</h1>

<br><br>

<form method="POST" action="{% url 'device_create' device_type %}">
    
    {% csrf_token %}

    {{ form }}
    
    <br><br>

    {% if device_type == 0 %}
    <a class="btn btn-danger" href="/devices/?device=Sprinkler" role="button">Abbrechen</a>
    {% elif device_type == 1 %}
    <a class="btn btn-danger" href="/devices/?device=Sensor" role="button">Abbrechen</a>
    {% elif device_type == 2 %}
    <a class="btn btn-danger" href="/devices/?device=Pumpe" role="button">Abbrechen</a>
    {% endif %}
    <button type="submit" class="btn btn-success">Speichern</button>
</form>




{% include "views/footer.html" %}

{% include "views/bottom.html" %}