{% load static %}

{% include "views/top.html" %}
      
<br>

<h1><img src="{% static 'webapp/img/icons/sprinkler.svg' %}" width="64" class="mr-3"> Geräte</h1>

<br><br>

<a class="btn btn-success" href="#" role="button">Neues Gerät</a>

<br>

<br>

<form class="form-inline" method="GET" action="{% url 'devices' %}">
  <div class="form-group mb-2">
    <input value="{{ filter_name }}" name="name" type="text" class="form-control" placeholder="Nach Bezeichnung durchsuchen...">
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <select name="device" id="inputState" class="form-control">
        <option {% if filter_device == 'Alle' %} selected {% endif %}>Alle</option>
        <option {% if filter_device == 'Sprinkler' %} selected {% endif %}>Sprinkler</option>
        <option {% if filter_device == 'Sensor' %} selected {% endif %}>Sensor</option>
    </select>
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <select name="status" id="inputState" class="form-control">
        <option {% if filter_status == 'Alle' %} selected {% endif %}>Alle</option>
        <option {% if filter_status == 'OK' %} selected {% endif %}>OK</option>
        <option {% if filter_status == 'Warnung' %} selected {% endif %}>Warnung</option>
        <option {% if filter_status == 'Fehler' %} selected {% endif %}>Fehler</option>
    </select>
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <button type="submit" class="btn btn-primary">Aktualisieren</button>
  </div>
</form>

<br>
{% if devices %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Typ</th>
      <th scope="col">Status</th>
      <th scope="col">Zuletzt aktiv</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody> 
    {% for device in devices %}
    <tr>
      <td scope="row">{{ device.device_name }}</td>
      <td>{{ device.device_type }}</td>
      <td><span class="badge badge-success">{{ device.device_status }}</span></td>
      <td>Vorgestern um 12:30 Uhr</td>
      <td>
        <a class="btn-sm btn-secondary" href="{% url 'device_edit' device.id %}" role="button">Bearbeiten</a>
        <a class="btn-sm btn-danger" href="#" role="button">Löschen</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
  <p>Es wurden keine Geräte gefunden.</p>
{% endif %}

{% include "views/footer.html" %}

{% include "views/bottom.html" %}