{% load static %}

{% include "views/top.html" %}
      
<br>

<h1><img src="{% static 'webapp/img/icons/sprinkler.svg' %}" width="64" class="mr-3"> Geräte</h1>

<br><br>


  {% if filter_device == 'Sprinkler' %}<a target="_blank" class="btn btn-success" href="/admin/webapp/sprinkler/add/" role="button">Neuer Sprinkler</a>{% endif %}
  {% if filter_device == 'Sensor' %}<a target="_blank" class="btn btn-success" href="/admin/webapp/sensor/add/" role="button">Neuer Sensor</a>{% endif %}
  {% if filter_device == 'Pumpe' %}<a target="_blank" class="btn btn-success" href="/admin/webapp/pump/add/" role="button">Neue Pumpe</a>{% endif %}


<br>

<br>

<form class="form-inline" method="GET" action="{% url 'devices' %}">
  <div class="form-group mb-2">
    <input value="{{ filter_name }}" name="name" type="text" class="form-control" placeholder="Nach Bezeichnung durchsuchen...">
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <select name="device" id="inputState" class="form-control">
        <option {% if filter_device == 'Sprinkler' %} selected {% endif %}>Sprinkler</option>
        <option {% if filter_device == 'Sensor' %} selected {% endif %}>Sensor</option>
        <option {% if filter_device == 'Pumpe' %} selected {% endif %}>Pumpe</option>
    </select>
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <select name="status" id="inputState" class="form-control">
        <option {% if filter_status == 'Alle' %} selected {% endif %}>Alle</option>
        <option {% if filter_status == 'OK' %} selected {% endif %}>OK</option>
        <option {% if filter_status == 'Warnung' %} selected {% endif %}>Warnung</option>
        <option {% if filter_status == 'Fehler' %} selected {% endif %}>Fehler</option>
    </select>
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <button type="submit" class="btn btn-primary">Aktualisieren</button>
  </div>
</form>

<br>
{% if devices %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Typ</th>
      <th scope="col">Status</th>
      <th scope="col">Zuletzt aktiv</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody> 
    {% for device in devices %}
    <tr>
      <td scope="row">{{ device.name }}</td>
      <td>{{ device.device_type }}</td>
      <td>
        {% if device.status == 'OK' %}
        <span class="badge badge-success">OK</span>
        {% endif %}
        {% if device.status == 'Warnung' %}
        <span class="badge badge-warning">Warnung</span>
        {% endif %}
        {% if device.status == 'Fehler' %}
        <span class="badge badge-danger">Fehler</span>
        {% endif %}
      </td>
      <td>Vorgestern um 12:30 Uhr</td>
      <td>
        
        <a class="btn-sm btn-success" href="{% url 'device_start' edit_key device.id %}" role="button">Start</a>
        <a class="btn-sm btn-danger" href="{% url 'device_stop' edit_key device.id %}" role="button">Stop</a>
        
        <a class="btn-sm btn-secondary" href="/admin/webapp/{{ type_name }}/{{ device.id }}/change/" role="button">Bearbeiten</a>
        <a class="btn-sm btn-secondary" href="/admin/webapp/{{ type_name }}/{{ device.id }}/delete/" role="button">Löschen</a>

      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
  {% if filter_device == 'Sprinkler' %}
    <p>Es wurde kein Sprinkler gefunden. Um andere Geräte anzuzeigen den Filter ändern.</p>
  {% endif %}
  {% if filter_device == 'Sensor' %}
    <p>Es wurde kein Sensor gefunden. Um andere Geräte anzuzeigen den Filter ändern.</p>
  {% endif %}
  {% if filter_device == 'Pumpe' %}
    <p>Es wurde keine Pumpe gefunden. Um andere Geräte anzuzeigen den Filter ändern.</p>
  {% endif %}
{% endif %}

{% include "views/footer.html" %}

{% include "views/bottom.html" %}