{% load static %}

{% include "views/top.html" %}
      
<br>

<h1><img src="{% static 'webapp/img/icons/plans.svg' %}" width="64" class="mr-3"> Pläne</h1>

<br><br>

<a class="btn btn-success" target="_blank" href="{% url 'plan_create' %}" role="button">Neuer Plan</a>

<br>

<br>

      
<form class="form-inline" method="GET" action="{% url 'plans' %}">
  <div class="form-group mb-2">
    <input value="{{ filter_name }}" name="name" type="text" class="form-control" placeholder="Nach Bezeichnung durchsuchen...">
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <select name="status" id="inputState" class="form-control">
        <option {% if filter_status == 'Alle' %} selected {% endif %}>Alle</option>
        <option {% if filter_status == 'OK' %} selected {% endif %}>OK</option>
        <option {% if filter_status == 'Warnung' %} selected {% endif %}>Warnung</option>
        <option {% if filter_status == 'Fehler' %} selected {% endif %}>Fehler</option>
    </select>
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <button type="submit" class="btn btn-primary">Aktualisieren</button>
  </div>
</form>

<br>

{% if plans %}

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">Nächste Ausführung</th>
      <th scope="col"></th>
    </tr>
  </thead>


  <tbody>
    {% for plan in plans %}
    <tr>
      <td scope="row">{{ plan.name }}</td>
      <td>
        {% if plan.status == 'OK' %}
        <span class="badge badge-success">OK</span>
        {% endif %}
        {% if plan.status == 'Warnung' %}
        <span class="badge badge-warning">Warnung</span>
        {% endif %}
        {% if plan.status == 'Fehler' %}
        <span class="badge badge-danger">Fehler</span>
        {% endif %}
      </td>
      <td>19:00 Uhr</td>
      <td>
        <a class="btn-sm btn-secondary" href="/admin/webapp/plan/{{plan.id}}/change/" role="button">Bearbeiten</a>
        <a class="btn-sm btn-danger" href="/admin/webapp/plan/{{plan.id}}/delete/" role="button">Löschen</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}

<p>Es wurden keine Pläne gefunden.</p>


{% endif %}
      
      

{% include "views/footer.html" %}

{% include "views/bottom.html" %}