{% load static %}

{% include "views/top.html" %}
      
<br>

<h1><img src="{% static 'webapp/img/icons/plans.svg' %}" width="64" class="mr-3"> Pläne</h1>

<br><br>

<a class="btn btn-success" href="#" role="button">Neuer Plan</a>

<br>

<br>

      
<form class="form-inline" method="GET" action="plans.php">
  <div class="form-group mb-2">
    <input name="name" type="text" class="form-control" placeholder="Nach Bezeichnung durchsuchen...">
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <select name="status" id="inputState" class="form-control">
        <option selected>Alle Stati</option>
        <option>OK</option>
        <option>Warnung</option>
        <option>Fehler</option>
    </select>
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <button type="submit" class="btn btn-primary">Aktualisieren</button>
  </div>
</form>

<br>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">Nächste Ausführung</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">Blumenbeet gießen</td>
      <td><span class="badge badge-success">OK</span></td>
      <td>19:00 Uhr</td>
      <td>
        <a class="btn-sm btn-secondary" href="#" role="button">Bearbeiten</a>
        <a class="btn-sm btn-danger" href="#" role="button">Löschen</a>
      </td>
    </tr>
    <tr>
      <td scope="row">Rasen sprengen</td>
      <td><span class="badge badge-success">OK</span></td>
      <td>Morgen um 08:15 Uhr</td>
      <td>
        <a class="btn-sm btn-secondary" href="#" role="button">Bearbeiten</a>
        <a class="btn-sm btn-danger" href="#" role="button">Löschen</a>
      </td>
    </tr>
  </tbody>
</table>
      
      

{% include "views/footer.html" %}

{% include "views/bottom.html" %}